.header {
  min-height: 80px;
  padding-inline: 1rem;
  background-color: var(--white-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.name {
  font-weight: 700;
}

.left {
  display: flex;
  gap: 1rem;
}

.online {
  color: var(--green-100);
  position: relative;
  padding-left: 0.6rem;
  font-weight: 700;

  &::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--green-100);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.typing {
  color: var(--blue-80);
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.3rem;
  color: var(--black-60);
  transition: all 0.4s ease;

  &:hover {
    color: var(--black-100);
  }
}
