.label {
  font-size: 14px;
  color: var(--black-90);
}

.textarea {
  padding: 0.6rem 1rem;
  border: 1.5px solid #d6d6d6;
  background-color: var(--white-100);
  transition: border-color 0.2s ease;
  outline: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  resize: none;

  &:focus {
    outline: none;
    border-color: var(--black-90);
  }
}
