.page {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 2rem;
  width: 550px;
}

.title {
  font-weight: bold;
  text-align: center;
}
